/* General styles */
.log-history-container {
  padding: 20px;
  background-color: #f7fafc;
  min-height: 100vh;
}

.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Table styles */
.table-container {
  overflow-x: auto;
}

.log-history-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.log-history-table th,
.log-history-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #e2e8f0;
}

.log-history-table th {
  background-color: #edf2f7;
}

.log-history-table tr:nth-child(even) {
  background-color: #f1f5f9;
}

.log-history-table tr:hover {
  background-color: #e2e8f0;
}

/* Styling for Barang Masuk and Barang Keluar columns */
.barang-masuk {
  color: #38a169;
}

.barang-keluar {
  color: #e53e3e;
}

/* Error styles */
.error {
  color: red;
  text-align: center;
}

/* Export Button Styling */
.export-button {
  background-color: #43915e; /* Green color */
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 20px;
}

.export-button:hover {
  background-color: #3b7e4d; /* Darker green shade when hovered */
}

.export-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(67, 145, 94, 0.8);
}

.container-button {
  display: flex;
  gap: 5px;
}
